<h1>Productos en Tiempo Real</h1>
<form id="productForm">
    <div>
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="description">Descripción:</label>
        <input type="text" id="description" name="description" required>
    </div>
    <div>
        <label for="code">Código:</label>
        <input type="text" id="code" name="code" required>
    </div>
    <div>
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" required>
    </div>
    <div>
        <label for="status">Estado:</label>
        <select id="status" name="status" required>
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
    </div>
    <div>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" required>
    </div>
    <div>
        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category" required>
    </div>
    <input type="hidden" id="thumbnails" name="thumbnails" value='["ruta/imagen1.jpg","ruta/imagen2.jpg"]'>
    <button type="submit">Añadir producto</button>
</form>

<div class="cardContainer" id="productList">
    {{#each productList}}
    <div class="card">
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        <p><strong>Precio:</strong> ${{this.price}}</p>
        <p><strong>Stock:</strong> {{this.stock}}</p>
        <button class="deleteBtn" data-id="{{this.id}}">Eliminar</button>
    </div>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/realTimeProducts.js"></script>